<launch>

<rosparam file="$(find base_link_description)/launch/controller.yaml" command="load"/>
<node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="base_link" args="Slider_13_position_controller Slider_14_position_controller Revolute_15_position_controller Revolute_16_position_controller Revolute_17_position_controller Revolute_18_position_controller Revolute_19_position_controller Revolute_20_position_controller Revolute_21_position_controller Revolute_22_position_controller Revolute_23_position_controller Revolute_24_position_controller joint_state_controller "/>
<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
  <remap from="/joint_states" to="/base_link/joint_states"/>
</node>

</launch>